annotated-types
anyio
asgiref
assemblyai
certifi
deprecation
distro
dj-database-url
Django
groq
gunicorn
h11
h2
hpack
httpcore
httpx
hyperframe
idna
Markdown
packaging
pip-review
postgrest
psycopg2-binary
pydantic
pydantic_core
PyJWT
python-dateutil
python-dotenv
realtime
six
sniffio
sqlparse
storage3
StrEnum
supabase
supabase_auth
supabase_functions
typing-inspection
typing_extensions
tzdata
websockets
whitenoise
yt-dlp
